/* Scaffold CSS Framework (Project Name) -----------------------------------------

	Created by:
	
		Anthony Short (anthony@anthonyshort.com.au)
		
	Changelog:
	  
		27th December 2008
			- Made some changes to the CSS.
	
	Supported Browsers:
	 
		- IE6+  
		- Safari 3+ 
		- Firefox 2+
		      
	Notes: 
	
		1. --------------------------
		
		This stylesheet is processed with CSS Cacheer. Any CSS
		files from /css that are linked to in the HTML, are parsed
		through a series of PHP scripts. You'll notice some syntax
		which isn't native to CSS - this is code which the scripts
		recognise and parse.  
		
		These include, but are not limited to:
		 
			@server import
			@grid
			@constants
			columns:1;
			grid(x);
			const();
		
		For more information read this blog post
			http://www.shauninman.com/archive/2008/05/30/check_out_css_cacheer
			
		2. --------------------------
		
		For content styling (ie. Blog posts), use the styles inside content.css
	
		
	Grid: i
		
		966px wide
		23px columns
		18px gutters
		24 columns

-----------------------------------------------------------------------------*/

	@grid {
		column-width:23;
		gutter-width:18;
		column-count:24;
		keep-settings:no;
		format:newline;
		generate-path:'/css/sections/'; 
		baseline:18;
	}
	
	@constants {
		textColor:#222;
		fontSize:13px;
		lineHeight:18px;
	}
	
	// Snippets
	@server import url('snippets/reset.css');
	@server import url('snippets/utilities.css');
	
	// Typography
	@server import url('sections/typography.css');
	
	// Layout
	@server import url('sections/layout.css');
	@server import url('sections/grid.css');
	@server import url('sections/navigation.css');
	
	// Forms
	@server import url('sections/forms.css');
	
	// Elements
	@server import url('sections/common.css');
	@server import url('sections/content.css');
		
	
	
	