	/* @group General classes */
	/* General Classes
	-------------------------------------------------------------- */
	
	.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
	.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
	.hide       { display: none; }

	.quiet      { color: #666; }
	.loud       { color: #000; }
	.highlight  { background:#ff0; }
	.added      { background:#060; color: #fff; }
	.removed    { background:#900; color: #fff; }
	
	.first      { margin-left:0; padding-left:0; }
	.last       { margin-right:0; padding-right:0; }
	.top        { margin-top:0; padding-top:0; }
	.bottom     { margin-bottom:0; padding-bottom:0; }

	/* @end */
	
	/* @group Layout Utilities */
	/* Layout Utilities
	---------------------------------------------------------------- */

	.clear 			{ overflow:hidden; }
	.clearfix:after 	{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
	 
	/* 
	Any div that is used for layout, should have a 'column' class.
	*/
	
	.column 		{ float:left; margin: 0 18px 18px 0; text-align: center; opacity:0.7; background: lightblue; }
	.ie6 .column 	{ overflow:hidden; display:inline; }
	
	.container		{ width: grid(maxcol); margin: 0 auto; overflow: hidden; position: relative; }
	
	.column:last-child,
	.column:only-child
	.last 			{ margin-right: 0; }	
	
	/* @end */	
	
	.image-replaced
	{
		display:block;
		text-indent:-9999px;
		background:no-repeat 0 0;
		overflow:hidden;
	}
	