/* @group Layout Utilities */
/* ---------------------------------------------------------------- */

	.clear 			{ overflow:hidden; }
	
	// Needs to be in the markup
	.clearfix:after 	{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
	 
	/* 
	Any div that is used for layout, should have a 'column' class.
	*/
	
	.column 		{ float:left; margin: 0 grid(gutter) grid(gutter) 0; }
	
	/* WARNING. You will get the double margin bug and the overflow bug if you
	don't use these properties for ie6. I've separated them, as ie6 support
	is up to the designer */
	.ie6 .column	{  overflow:hidden; display:inline;} 
	
	/* For column classes when testing */
	.wireframe		{ opacity:0.7; background: lightblue; min-height:math(grid(gutter)*5)px;}
	
	.container		{ width: grid(max); margin: 0 auto; overflow: hidden; position: relative; }
	
	.showgrid		{ background: url('images/backgrounds/grid.png'); }
	
	.showdesign-1	{ background: url('images/backgrounds/design-1.png'); }
	
	.column:last-child,
	.column:only-child,
	.last 			{ margin-right: 0; }	
	
	
	
/* @end */	
/* @group Image Replacement */
/* ---------------------------------------------------------------- */
	
	.image-replaced
	{
		display:block;
		text-indent:-9999px;
		background:no-repeat 0 0;
		overflow:hidden;
	}
	
/* @end */
	