/* -------------------------------------------------------------------- */

/* @group Layout */
	
/* -------------------------------------------------------------------- */

	#page		 	{ width: grid(24col); margin: 0 auto; position:relative; overflow: hidden; }	
	
	#header		{ columns:24!; height: 108px; }
	#footer		{ columns:24!; height: 108px; margin: 0; }
	

/* @group Types */
/* ---------------------------------------------------------------- */
	
	#primary-content 						{ }
	#secondary-content					{ }
	#tertiary-content						{ }
		
	.layout-1	#primary-content 			{ columns:15!; padding: 8px; border: 1px solid #000; height:180px;}
	.layout-1	#secondary-content		{ columns:9!; margin-right:0; height:198px;}
	.layout-1	#tertiary-content			{ columns:24!; }
	
	.layout-2	#primary-content 			{ }
	.layout-2	#secondary-content		{ }
	.layout-2	#tertiary-content			{ }


/* @end */
/* @group Page Specific */
/*---------------------------------------------------------------- */	
	
	#home					{}
	#about					{}	
	#services				{}
	#contact				{}
	#search-results		{}	

/* @end */	
/* @end */
