/* @group Navigation *//* -------------------------------------------

	Navigation

--------------------------------------------------------------------*/
	
	#navigation			{ margin:0;padding:0; }
	#navigation li 		{ float:left;padding:0; }
	#navigation li a 		{ display:block; }

/* @end */

