/* -------------------------------------------------------------------- */

/* @group Forms */
	
/* -------------------------------------------------------------------- */

	label,p.label    { font-weight: bold; margin: 0; }
	fieldset    		{ padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
	legend      		{ font-weight: bold; font-size:1.2em; }
	form ul 			{ list-style: none; margin: 0;}

	p.formtip	
	{ 
		font-size: 0.9em; 
		margin: 0; 
		color: #aaa;
	
		/* Change these + order in the markup to change position */
		float: left; 
		clear: left; 
	}


	/* @group Form Fields *//*
	-------------------------------------------------------------- */
	
	.text,
	.textarea,
	.checkboxes,
	.radio,
	.buttons,
	.select,
	.upload
	{
		float:left;
		clear:left;
		
		/* Optional */
		border:1px solid #eee;
		margin:0 0 10px 0;
		padding: 15px;
	}
	
	/* On Focus */
	input.text:focus,
	textarea:focus, 
	select:focus { border:1px solid #666;  }
	
	.text {}
	.text label {}
	.text input { margin:0.5em 0; border:1px solid #bbb; width: 300px; padding:5px; }
	
	.textarea {}
	.textarea label {}
	.textarea textarea { margin:0.5em 0; border:1px solid #bbb; width: 390px; height: 250px;padding:5px; }
	
	.checkboxes {}
	.checkbox {}
	.checkbox label { font-weight:normal;  }
	.checkbox input { float:left; }
		
	.radio {}
	.radio li {}
	.radio label { font-weight:normal;  }
	.radio input { float:left; }
	
	.select {}
	.select label {}
	.select select {}
	
	.upload {}
	.upload label {}
	.upload input {}
	
	.buttons {}
	.buttons button { font-weight:normal; }

	/* @end */
	
	/* @group Form Layout */
	fieldset.inline label, 
	fieldset.inline p.label { float:left; }
	
	fieldset.block label, 
	fieldset.block p.label { float:left; clear:both; }
	fieldset.block .radio label { clear:none; }
	fieldset.block input, 
	fieldset.block textarea,
	fieldset.block select { clear:both; float:left;}
	/* @end */
	
	
	/* @group Notices */
	/* Success, notice and error boxes
	-------------------------------------------------------------- */
	
	.error,
	.notice, 
	.success    { padding: .8em; margin-bottom: 1em; border: 2px solid; }
	
	.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
	.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
	.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
	.error a    { color: #8a1f11; }
	.notice a   { color: #514721; }
	.success a  { color: #264409; }

	/* @end */
	
/* @end */


/* @group Custom Forms *//* --------------------------------

	Custom Forms

-------------------------------------------------------------*/

/* Put the individual form styles here */

/* @end */
