<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
</IfModule>
<IfModule mod_rewrite.c> 
	RewriteEngine	on
	RewriteCond		%{REQUEST_FILENAME}		-f
	RewriteCond 	%{REQUEST_URI}	[^tests/|system/]\.css$
	RewriteRule 	^(.+)$ 				system/css-cacheer.php?cssc_request=%{REQUEST_URI}&%{QUERY_STRING}
</IfModule>